body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 300;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

header a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 24px;
}

.alert h4 {
  font-weight: 500;
}

footer {
  border-top: 1px solid #000;
  margin: 40px 0 40px 0;
  padding-top: 15px;
}
