body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 300;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid #b3b3b3;
}

p {
  line-height: 24px;
}

footer {
  border-top: 1px solid #b3b3b3;
	margin-top: 40px;
	padding-top: 15px;
}
