---
layout: nil
---

<ul>
{% for page in site.pages %}
  {% if page.sitemap != null and page.sitemap != empty %}
    <li>{{ site.baseurl }}{{ page.url | replace: "index.html", "" }}</li>
  {% endif %}
{% endfor %}
</ul>

		<table class="table-list table-striped table-bordered" data-table-list>
			<thead>
				<tr>
					<th>Example<br>Code</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><q>q element <q>inside</q> a q element</q> example<br><pre><code>&lt;q&gt;q element &lt;q&gt;inside&lt;/q&gt; a q element&lt;/q&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><small>small element</small> example<br><pre><code>&lt;small&gt;small element&lt;/small&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><span>span element</span> example<br><pre><code>&lt;span&gt;span element&lt;/span&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><strong>strong element</strong> example<br><pre><code>&lt;strong&gt;strong element&lt;/strong&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><sub>sub element</sub> example<br><pre><code>&lt;sub&gt;sub element&lt;/sub&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><sup>sup element</sup> example<br><pre><code>&lt;sup&gt;sup element&lt;/sup&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><var>var element</var> example<br><pre><code>&lt;var&gt;var element&lt;/var&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><cite>cite element</cite> example<br><pre><code>&lt;cite&gt;cite element&lt;/cite&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><del>del element</del> example<br><pre><code>&lt;del&gt;del element&lt;/del&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><dfn>dfn element</dfn> example<br><pre><code>&lt;dfn&gt;dfn element&lt;/dfn&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><dfn title="Title text">dfn element with title</dfn> example<br><pre><code>&lt;dfn title=&quot;Title text&quot;&gt;dfn element with title&lt;/dfn&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><em>em element</em> example<pre><code>&lt;em&gt;em element&lt;/em&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><i>i element</i> example<br><pre><code>&lt;i&gt;i element&lt;/i&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><ins>ins element</ins> example<br><pre><code>&lt;ins&gt;ins element&lt;/ins&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><mark>mark element</mark> example<br><pre><code>&lt;mark&gt;mark element&lt;/mark&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><abbr title="Abbreviation">abbr</abbr> example<br><pre><code>&lt;mark&gt;mark element&lt;/mark&gt; example</code></pre></td>
				</tr>
				<tr>
					<td><ruby>ruby</ruby> example<br><pre><code>&lt;ruby&gt;ruby&lt;/ruby&gt; example</code></pre></td>
				</tr>
			</tbody>
		</table>
