<footer>
	<div class="row">
		<div class="col-xxs-12 col-xs-12 col-s-8 col-m-8 col-l-8">
			<small>
				GitHub:
				&nbsp;
				<a href="https://github.com/dirkeinecke">Follow @dirkeinecke</a>
				&nbsp;
				<a href="https://github.com/dirkeinecke/JavaScript-online-lernen">Watch/Star this site</a>
				&nbsp;
				<a href="https://github.com/dirkeinecke/JavaScript-online-lernen/fork">Fork this site</a>
				&nbsp;
			</small>
		</div>
		<div class="col-xxs-12 col-xs-12 col-s-4 col-m-4 col-l-4 text-push">
			<small><a href="https://github.com/dirkeinecke/JavaScript-online-lernen/blob/gh-pages{{ page.url }}" target="_blank"><i class="fa fa-github"></i> Seite auf GitHub barbeiten</a> / <a href="/Impressum/">Impressum</a></small>
		</div>
	</div>
</footer>
