<footer>
	<div class="row">
		<div class="col-xxs-12 col-xs-12 col-s-8 col-m-8 col-l-8">
			<a class="github-button" href="https://github.com/dirkeinecke" data-count-href="/dirkeinecke/followers" data-count-api="/users/dirkeinecke#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @dirkeinecke on GitHub">Follow @dirkeinecke</a>
			&nbsp;
			<a class="github-button" href="https://github.com/dirkeinecke/JavaScript-online-lernen" data-icon="octicon-eye" data-count-href="/dirkeinecke/JavaScript-online-lernen/watchers" data-count-api="/repos/dirkeinecke/JavaScript-online-lernen#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch dirkeinecke/JavaScript-online-lernen on GitHub">Watch</a>
			&nbsp;
			<a class="github-button" href="https://github.com/dirkeinecke/JavaScript-online-lernen" data-icon="octicon-star" data-count-href="/dirkeinecke/JavaScript-online-lernen/stargazers" data-count-api="/repos/dirkeinecke/JavaScript-online-lernen#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star dirkeinecke/JavaScript-online-lernen on GitHub">Star</a>
			&nbsp;
			<a class="github-button" href="https://github.com/dirkeinecke/JavaScript-online-lernen/fork" data-icon="octicon-repo-forked" data-count-href="/dirkeinecke/JavaScript-online-lernen/network" data-count-api="/repos/dirkeinecke/JavaScript-online-lernen#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork dirkeinecke/JavaScript-online-lernen on GitHub">Fork</a>
		</div>
		<div class="col-xxs-12 col-xs-12 col-s-4 col-m-4 col-l-4 text-push-xxs-only text-push-xs-only">
			<small><a href="/Impressum/">Impressum</a></small>
		</div>
	</div>
</footer>
