<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" itemscope itemtype="http://schema.org/WebPage">
	<meta charset="utf-8">
	<meta name="robots" content="index,follow,noodp,noydir">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description | xml_escape }}">
	<meta name="publisher" content="{{ page.author | xml_escape }}">
	<meta property="og:site_name" content="{{ page.title | xml_escape }}">
	<meta property="og:title" content="{{ page.title | xml_escape }}">
	<meta itemprop="name" content="{{ page.title | xml_escape }}">
	<meta property="og:description" content="{{ page.description | xml_escape }}">
	<meta itemprop="description" content="{{ page.description | xml_escape }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="">
	<meta name="twitter:title" content="{{ page.title | xml_escape }}">
	<meta name="twitter:description" content="{{ page.description | xml_escape }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<link rel="alternate" hreflang="de" href="">
	<link rel="canonical" href="">
	<title>{{ page.title | xml_escape }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
	<link href="//fastcdn.org/Responsive/4.1.1/responsive.min.css" rel="stylesheet" type="text/css">
	<link href="//fastcdn.org/Font-Awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,500,100" rel="stylesheet" type="text/css">
	<link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
	{% include google-analytics.html %}
</head>
