html {
  font-size: 120%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 300;
}

h3 {
  font-weight: 400;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #000;
}

header {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #000;
}

header h1 {
  margin-bottom: 0.5rem;
}

header a,
h2 a {
  text-decoration: none;
  color: #000;
}

header form {
  margin-top: 1rem;
  border: 1px solid red;
}

p {
  line-height: 1.7rem;
}

.alert h4 {
  font-weight: 500;
}

footer {
  border-top: 1px solid #000;
  margin: 2.5rem 0 2.5rem 0;
  padding-top: 1rem;
}

.modal-overlay :focus {
  outline: transparent;
}

.alert {
  background-color: #fff4cc;
  border-left-color: #ffe070;
}
