---
layout: default
title: JavaScript-Referenz - Objekte/window/alert
description: JavaScript-Referenz - Objekte/window/alert
---

<ol class="breadcrumb">
<li><a href="{{ site.baseurl }}/">Home</a></li>
{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
{% for i in (1..forLoopMaxInt) %}
    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
    {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
    {% for breadcrumb_page in site.pages %}
        {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
            <li {% if i == forLoopMaxInt %}class="active"{% endif %}>
                {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ol>



<h1>{{ page.title }}</h1>
<p>Die Methode <code>alert()</code> gibt ein Dialogfenster aus. Sie besitzt einen möglichen Parameter der einen Text, eine Zahl oder ein Objekt sein kann.</p>
<h2>Beispiel 1 - Text ausgeben</h2>
{% highlight javascript %}
alert("Hallo Welt");
{% endhighlight %}
<h2>Beispiel 2 - Zahl ausgeben</h2>
{% highlight javascript %}
alert(123);
{% endhighlight %}
<p>Neben festen Zeichenketten und Zahlen können Sie der <code>alert()</code>-Methode auch Variablen übergeben. In einem Solchen Fall wird der Wert der Variablen ausgegeben.</p>
<h2>Beispiel 3 - Variable übergeben</h2>
{% highlight javascript %}
var zeichenkette = "Hallo Welt";
alert(zeichenkette);
{% endhighlight %}
<h2>Hinweise</h2>
<ul>
	<li>Die <code>alert()</code>-Methode wandelt intern den übergebenen Wert immer in eine Zeichenkette um.</li>
	<li>Der Rückgabewert ist immer <code>undefined</code>.</li>
	<li>Das Dialogfenster kann je nach Betriebssystem und Browser unterschiedlich aussehen.</li>
</ul>
