<!DOCTYPE html>
<html class="no-js" lang="de">
	{% include head.html %}
	<body>
		<div class="container">
			{% include header.html %}
			<main>
				{{ content }}
				{% include back-next.html %}
			</main>
			{% include footer.html %}
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="//fastcdn.org/Responsive/4.1.1/responsive.min.js"></script>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
		<script type="text/javascript">
			if (window.document.location.search.indexOf('Modal') > -1) {
				$('body > div.container > header, body > div.container > footer').remove();
			}
			
			$(function() {
				$('pre').html(function() {
    					return this.innerHTML.replace(/\t/g, '&nbsp;&nbsp;');
				});
			});
		</script>
	</body>
</html>
