<!DOCTYPE html>
<html class="no-js" lang="de">
	{% include head.html %}
	<body>
		<div class="container">
			{% include header.html %}
			<main>
				{{ content }}
				{% assign showBackNext = false %}
				{% if page.back != null and page.back != empty %}
					{% assign showBackNext = true %}
				{% endif %}
				{% if page.next != null and page.next != empty %}
					{% assign showBackNext = true %}
				{% endif %}
				{% if showBackNext == true %}
					<div class="row">
						<div class="col-xxs-12 col-xs-12 col-s-6 col-m-6 col-l-6">
							{% if page.back != null and page.back != empty %}
								<a href="{{ page.back.path }}"><i class="fa fa-arrow-left"></i> {{ page.back.text }}</a>
							{% endif %}
						</div>
						<div class="col-xxs-12 col-xs-12 col-s-6 col-m-6 col-l-6 text-push">
							{% if page.next != null and page.back != empty %}
								<a href="{{ page.next.path }}">{{ page.next.text }} <i class="fa fa-arrow-right"></i></a>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</main>
			{% include footer.html %}
		</div>
		<script src="https://fastcdn.org/jQuery/2.1.4/jquery.min.js"></script>
		<script src="https://fastcdn.org/Responsive/4.1.1/responsive.min.js"></script>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	</body>
</html>
